{% extends "layout.html" %}

{% block content %}

<div class="row mb-5 mt-3">
    <div class="col-2 ">
        <input type="file" class="custom-file-input" hidden id="file" name="file" accept="image/*" capture="camera">
        <label class=" btn btn-primary" for="file"><i class="fas fa-camera"></i></label>
    </div>

</div>


<div class="row mb-2" id="tools" style="display: none;">
    <div class="col-12">
        <button id="btnRotate" class="btn btn-primary"> <i class="fas fa-redo"></i></button>
        <button id="btnCropOk" class="btn btn-primary"><i class="fas fa-align-center"></i></button>
        <button id="btnCropReset" class="btn btn-primary"><i class="fas fa-times"></i></button>
    </div>
</div>
<div class="row rotate_wrapper" style="display: none;">
    <div class="col-12">
        <div class="d-flex justify-content-center my-4">
            <input type="range" class="custom-range" id="rotate_range" min="0" value="90" max="180">
            <span class="font-weight-bold text-primary ml-2 valueSpan2"></span>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="col-12" style="display: flex; justify-content: center;">
        <img src="deneme.jpg" id="image" alt="" style="max-height: 500px;">
    </div>
    <div class="card-body d-flex flex-row justify-content-center " >
        <div class="spinner-border" style="display: none;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <p class="card-text">Bir fotoğraf çekiniz.</p>
    </div>
</div>



{% endblock content %}